* {
    margin: 0px 5px;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.button_container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 20px;
    justify-content: center;
}