* {
    margin: 5px 2px;
    padding: 3px;
    text-align: left;
    background-color: antiquewhite;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}