* {
    margin: 3px 0px;
    padding: 5px;
    background-color: cornsilk
}

.form_content {
    font-size: 18px;
}

.form_content input {
    width: 180px;
    border: 1.5px solid black;
    font-weight: 100px;
}